---
---

//
// IMPORTS
//

@import "variables";
@import "landing";
@import "materialize/materialize";
// Syntax highlighting @import is at the bottom of this file

.page-body {
  background-color: #EEEEEE;
}

.purple-text {
  color: #5C258D;
}

/**************/
/* BLOG RULES */
/**************/

.blog-container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .blog
//

.blog {

  color: black;
  line-height: 1.5;

  a {color:black;}      /* unvisited link */
  a:visited {color:black;}  /* visited link */
  a:hover {  /* mouse over link */
    background-color: #2c3e50;
    color: white;
  }

  .posts > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
  }
  
  .posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
  }
  
  .post {
    blockquote {
      margin: 1.8em .8em;
      border-left: 2px solid $gray;
      padding: 0.1em 1em;
      color: $gray;
      font-size: 22px;
      font-style: italic;
    }
  
    .comments {
      margin-top: 10px;
    }
  
  }
  
  .wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGray;
  }
  
  footer {
    padding: 20px 0;
    text-align: center;
  }

}

.blog-header {
  padding: 96px 0 0;

  h1 {
    display: inline;
    padding: 0 16px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "svg-icons";
