body {
  color: #FFFFFF;
  margin: 0;
  font-family: 'Oxygen', sans-serif; }

.landing {
  background: linear-gradient(-239deg, #2c3e50 30%, #5C258D 100%);
  height: 100vh;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .landing .landing-callout {
    padding: 32px; }
    .landing .landing-callout h1 {
      font-size: 96px;
      margin: 0;
      -webkit-animation: fade-in-right 1s ease both;
      animation: fade-in-right 1s ease both; }
    .landing .landing-callout .landing-intro .mobile-photo {
      height: 128px;
      width: 128px;
      background-image: url("../images/headshot.jpeg");
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      background-size: contain;
      border-radius: 128px;
      margin: 0px auto 0px auto;
      background-position: center;
      -webkit-animation: fade-in-down 1s ease both;
      animation: fade-in-down 1s ease both; }
    .landing .landing-callout .landing-intro p {
      line-height: 1.75; }
      .landing .landing-callout .landing-intro p span {
        display: block;
        -webkit-animation: fade-in-right 2s ease both;
        animation: fade-in-right 2s ease both; }
    .landing .landing-callout .landing-actions {
      -webkit-animation: fade-in-up 3s ease both;
      animation: fade-in-up 3s ease both;
      text-align: center;
      padding-top: 16px; }
      .landing .landing-callout .landing-actions a {
        color: white;
        text-decoration: none; }
      .landing .landing-callout .landing-actions .landing-action {
        padding-right: 48px;
        padding-left: 24px; }

.blog {
  background: linear-gradient(-239deg, #2c3e50 30%, #5C258D 100%);
  height: 100vh;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .blog .blog-header {
    padding: 96px 0; }
    .blog .blog-header a {
      color: white; }

@font-face {
  font-family: 'landing-actions';
  src: url("fonts/landing-actions.ttf?pmspc4") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'landing-actions' !important;
  speak: none;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home3:before {
  content: "\e902"; }

.icon-book:before {
  content: "\e91f"; }

.icon-profile:before {
  content: "\e923"; }

.icon-mail:before {
  content: "\ea83"; }

.icon-linkedin:before {
  content: "\eac9"; }

@media (max-width: 670px) {
  .landing .landing-callout h1 {
    font-size: 48px; }
  .landing .landing-callout .landing-intro .mobile-photo {
    margin: 0px auto 16px auto; } }
@media (max-width: 450px) {
  .landing .landing-callout .landing-actions .landing-action {
    padding-right: 12px;
    padding-left: 12px; } }
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 80%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/*# sourceMappingURL=stylesheet.css.map */
