--- 
layout: base 
---

<div class="container">
  <div class="blog">
    <div class="blog-header">
      <a class="icon-home3" href="{{ site.baseurl }}/"></a>
      <h1>Tommy's Blog</h1>
    </div>
    <div class="posts">
      {% for post in site.posts %}
      <article class="post">

        <h1>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
      {% endfor %}
    </div>
  </div>
</div>