html {
    height: 100%;
}

body {
    background: linear-gradient(-239deg, #2c3e50 30%, #5C258D 100%);
    color: #FFFFFF;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.landing {
    margin: auto;
    width: 75%;
}

a {
    color: white;
    text-decoration: none;
}